body {
  background: #111;
  color: #e5e5e5;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 900px;
  margin: 40px auto;
}

.tabs-nav {
  display: flex;
  gap: 24px;
}

.tab-btn {
  background: transparent;
  padding: 12px 26px;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #cfcfcf;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.tab-btn:hover {
  background: #222;
}

.tab-btn.active {
  background: #222;
  border-color: #6a5acd;
  color: white;
}


.tab-content {
  margin-top: 24px;
  background: #1a1a1a;
  padding: 32px;
  border-radius: 10px;
}


.title {
  margin-top: 0;
  margin-bottom: 14px;
  color: #eaeaea;
}

.panel ul {
  margin-left: 22px;
  line-height: 1.7;
}

.highlight {
  color: #a892ff;
  font-weight: bold;
}

.concept-box {
  background: #1d1d35;
  padding: 16px;
  border-left: 4px solid #6a5acd;
  margin-top: 20px;
  border-radius: 8px;
}

.services-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.service-card {
  background: #222;
  padding: 18px;
  flex: 1;
  border-radius: 8px;
  border-left: 4px solid #6a5acd;
}

.service-card h3 {
  margin-top: 0;
  color: #cabdff;
}